.little-info--wrapper {
    @include flexboxCenter;
    padding: 20px;

    .little-info--title {
        text-align: center;
        @include boldTitle;
        margin-bottom: 20px;
    }

    .accordion {
        width: 100%;
    }
}